@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL */
.check {
  border: 1px solid red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fafafa;
  font-family: "Prompt", sans-serif;
}

/*SPECIAL COLOR GRADIENT */
/*SPECIAL COLOR GRADIENT */
/*SPECIAL COLOR GRADIENT */
/*SPECIAL COLOR GRADIENT */
/*SPECIAL COLOR GRADIENT */
/*SPECIAL COLOR GRADIENT */

.made_pink_gradient {
  background: rgb(254, 170, 230);
  background: linear-gradient(
    90deg,
    rgba(254, 170, 230, 0.3078023445706407) 22%,
    rgba(254, 170, 230, 1) 77%
  );
}

.made_slide_overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgb(5, 36, 129) 100%
  );
}
.made-blue-gradient {
  background: rgb(25, 94, 203);
  background: linear-gradient(
    142deg,
    rgba(25, 94, 203, 1) 0%,
    rgba(16, 66, 163, 1) 74%,
    rgba(6, 34, 115, 1) 100%
  );
}

.title-color-white {
  color: white;
}
.title-color {
  color: #2c2f34;
}
.desc-color {
  color: #666666;
}

/* BORDER */
/* BORDER */
/* BORDER */
/* BORDER */
/* BORDER */
#devider {
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1.2px solid #e6e6e6;
}
#white-divider {
  margin-top: 4px;
  margin-bottom: 8px;
  border-bottom: 1px solid white;
}
@media screen and (min-width: 1024px) {
  #white-divider {
    margin-top: 4px;
    margin-bottom: 4px;
    border-bottom: 1px solid white;
    opacity: 1;
  }
}
#card-border {
  border: 1.5px solid #e6e6e6;
}
.border-submenu {
  border: 1px solid #e6e6e6;
}
.border-right {
  border-right: 1.5px solid #e6e6e6;
}
.border-bottom {
  border-bottom: 2px solid #e6e6e6;
}

/* Hamburger Menu */
/* Hamburger Menu */
/* Hamburger Menu */
/* Hamburger Menu */
/* Hamburger Menu */
/* Hamburger Menu */
#hamburger_menu {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hamburger_line {
  border-radius: 2px;
  width: 26px;
  height: 4px;
  background: #2c2f34;
}

.sidenavClose {
  transform: translateX(-400px);
}
/* mobile ham */
.submenu-hide {
  display: none;
}
.submenu-desktop-bg:hover {
  background: rgb(254, 170, 230);
  background: linear-gradient(
    90deg,
    rgba(254, 170, 230, 0.3078023445706407) 22%,
    rgba(254, 170, 230, 1) 77%
  );
  font-weight: 400;
}
/* MENU ANIMATION */

.no-scroll {
  overflow: hidden;
}

#overlay-wrapper {
  display: none;
  opacity: 0;
}

#submenu-desktop {
  opacity: 0;
}

.box.expand {
  width: 50px;
}
.box {
  width: 0;
  transition: width 0.5s ease-in-out;
}

/* swiper */
/* swiper */
/* swiper */
/* swiper */
/* swiper */
/* swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
}

.swiper-pagination {
  bottom: auto !important;
  display: flex;
  gap: 2px;
}
.swiper-pagination-bullet {
  border: 1.5px solid #1c6adb;
  width: 10px;
  height: 10px;
  opacity: 1;
  background: transparent;
}

.swiper-pagination-bullet-active {
  background: #1c6adb;
  width: 12px;
  height: 12px;
}

@media screen and (min-width: 1024px) {
  .swiper-pagination-bullet {
    border: 2px solid #1c6adb;
    width: 10px;
    height: 10px;
    opacity: 1;
    background: transparent;
  }
  .swiper-pagination-bullet-active {
    background: #1c6adb;
    width: 14px;
    height: 14px;
  }
}

.swiper-button-next,
.swiper-button-prev {
  border-radius: 50%;
  position: relative;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  margin-top: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 18px;
  font-weight: 900;
}

/* Truncate */
/* Truncate */
/* Truncate */
/* Truncate */
/* Truncate */
/* Truncate */
.card_preview_title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.truncateText {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* OPINION */
.truncateText-md {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
/* SOCIAL NEWS */
.md-title-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.truncate-body {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.tuncate-recent-mobile {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@media screen and (max-width: 449px) {
  .card_preview_title {
    -webkit-line-clamp: 2;
  }
}

@media screen and (min-width: 449px) {
  .truncateText {
    -webkit-line-clamp: 4;
  }
}
