@tailwind base;
@tailwind components;
@tailwind utilities;

/* GLOBAL */
.check {
  border: 1px solid red;
}
.border-submenu {
  border: 1px solid #e6e6e6;
}
.border-right {
  border-right: 1px solid #e6e6e6;
}

* {
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fafafa;
  font-family: "Prompt", sans-serif;
}

/*SPECIAL COLOR GRADIENT */

.made_pink_gradient {
  background: rgb(254, 170, 230);
  background: linear-gradient(
    90deg,
    rgba(254, 170, 230, 0.3078023445706407) 22%,
    rgba(254, 170, 230, 1) 77%
  );
}

.made_slide_overlay {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(6, 33, 112, 1) 100%
  );
}

/* MENU ANIMATION */

#submenu-desktop {
  opacity: 0;
}
/* devider */
#devider {
  margin-top: 8px;
  margin-bottom: 8px;
  border-bottom: 1px solid #c8c8c8;
}
.box.expand {
  width: 100%;
}
.box {
  width: 0;
  transition: width 0.5s ease-in-out;
}
/* Hamburger Menu */
#hamburger_menu {
  width: fit-content;
  height: fit-content;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.hamburger_line {
  border-radius: 2px;
  width: 26px;
  height: 4px;
  background: #231f20;
}

.sidenavClose {
  transform: translateX(-400px);
}
.submenu-hide {
  display: none;
}
.submenu-desktop-bg:hover {
  background: rgb(254, 170, 230);
  background: linear-gradient(
    90deg,
    rgba(254, 170, 230, 0.3078023445706407) 22%,
    rgba(254, 170, 230, 1) 77%
  );
  font-weight: 400;
}

/* swiper */

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background: white;

  /* display: flex;
    justify-content: center;
    align-items: center; */
}

/* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  } */
.swiper-pagination {
  bottom: auto !important;
}
.swiper-pagination-bullet {
  border: 1.5px solid #1c6adb;
  width: 10px;
  height: 10px;
  opacity: 1;
  background: transparent;
}

.swiper-pagination-bullet-active {
  background: #1c6adb;
  width: 14px;
  height: 14px;
}

.swiper-button-next,
.swiper-button-prev {
  border-radius: 100%;
  position: relative;
  background-color: white;
  top: 0;
  left: 0;
  width: 42px;
  height: 42px;
  margin-top: auto;
  z-index: 10;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04))
    drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}
.swiper-button-next:after,
.swiper-button-prev:after {
  /* font-family: swiper-icons; */
  font-size: 24px;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}

/* Truncate RECENT CARD */
.card_preview_title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media screen and (max-width: 773px) {
  .card_preview_title {
    -webkit-line-clamp: 2;
  }
}
